.input {
    // display: flex;
    // justify-content: center;

    background: transparent;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 20px 0;
    width: 50%;
    color: white;
    text-indent: 2em;
    margin-bottom: 1rem;
}

::placeholder {
    color: white;
}
