.city {
    margin: 10px;
    font-family: 'Mark Pro';
    font-style: normal;
    text-align: center;
    color: #222222;
}

.icon {
    background: transparent;
}

.temp {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    color: #222222;
}
