.weather-container {
    display: flex;
    flex-direction: column;
    font-family: 'Mark Pro';
    font-style: normal;
    padding-right: 20%;
    text-align: right;
    color: #222222;

    .weather-inner-container {
        display: flex;
        justify-content: flex-end;

        img.weather-icon {
            background: transparent;
            width: 65px;
        }

        div.weather-temp {
            font-weight: 700;
            font-size: 48px;
            line-height: 61px;
        }
    }
}
