/* Login Page */

.login-main-text {
    display: flex !important;
    justify-content: center !important;

    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 76px;
    color: #e0e0e0;
}

.login-sub-text {
    display: flex !important;
    justify-content: center !important;

    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #e0e0e0;
}

.login-text {
    display: flex !important;
    justify-content: center !important;

    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #e0e0e0;
}

/* Home Page */

.home-mission-text {
    margin: 10px;
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 2.95em;
    color: #c12d18;
}

.home-missao-text {
    margin: 10px;
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color: #222222;
}

.home-to-transform-text {
    margin: 10px;
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 2.97em;
    color: #c12d18;
}

.home-transformar-text {
    margin: 10px;
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color: #222222;
}

.home-building-text {
    margin: 10px;
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 2.98em;
    color: #c12d18;
}

.home-construindo-text {
    margin: 10px;
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color: #222222;
}

.home-that-enable-text {
    margin: 10px;
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    color: #c12d18;
}

.home-que-permitam-text {
    margin: 10px;
    font-family: 'Mark Pro';
    font-style: normal;
    font-size: 1em;
    color: #222222;
}

// .home-footer-text {
//     // display: flex;
//     // flex-wrap: wrap;
//     // justify-content: center;
//     font-family: 'Mark Pro';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 12px;
//     line-height: 15px;
//     text-align: right;
//     color: #ffffff;
// }
