:host-context {
    display: block;
}

@media screen and (max-width: 600px) {
    div.login-container-right {
        display: none;
    }
}

.login-container-right {
    height: 100vh; // deve ser o final
    width: 100%;
    background: url('../../../assets/notebook.jpg') center;
    background-size: cover;
}

.logo {
    width: 30%;
    padding-top: 3rem;
}
