:host-context {
    display: block;
}

.login-container--right {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;

    // height: 100vh;
    height: 828px;
    // width: 100%;
    background: url('../../../assets/notebook.jpg') center;
    background-size: cover;
}

.logo {
    width: 30%;
    padding-top: 3rem;
}

// @media screen and (min-width: 480px) {
//     div.login-container-right {
//         display: none;
//     }
// }

@media (max-width: 1200px) {
    div.container--right {
        display: none;
    }
}
