div {
    display: flex;
    flex-direction: column;
    margin-top: 0.3em;
    font-style: normal;
    font-weight: 400;

    color: #ffffff;
}

.counter-item {
    flex: 1;

    &.counter-item__span-number-seconds {
        font-family: 'Roboto';
        font-size: 48px;
        text-align: center;
    }

    &.counter-item__span-text-seconds {
        font-family: 'Mark Pro';
        font-size: 14px;
        text-align: center;
    }
}
