<div class="footer-container">
    <span class="footer-item footer-text-essa-janela">
        Essa janela do navegador é usada para manter sua sessão de autenticação
        ativa. Deixe-a aberta em segundo plano e abra uma nova janela para
        continuar a navegar.
    </span>

    <span class="footer-item footer-vertical-line"></span>

    <app-search class="footer-item"></app-search>

    <span class="footer-item footer-vertical-line"></span>

    <span class="footer-item footer-text-application">
        Application refresh in
    </span>

    <app-counter class="footer-item"></app-counter>

    <div class="footer-item footer-link-continuar">
        <a href="#">Cotninuar navegando</a>
    </div>

    <span class="footer-item">
        <a href="#" routerLink="/content/angularapp/us/en/login.html">logout</a>
    </span>
</div>
