.button {
    background: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    padding: 20px 0;
    margin-top: 5rem;
    width: 50%;
}
