.time {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 7em;
    line-height: 7rem;
    color: #222222;
}

.date {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #222222;
}
