/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

@import url('http://fonts.cdnfonts.com/css/mark-pro?styles=78509,78511');
@import url('https://fonts.googleapis.com/css2?family=Roboto&dis');

html,
body {
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Login */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    height: 100vh;
    // height: 744px;
    background: linear-gradient(180deg, #33383d 0%, #1c1d20 100%);
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 400;
    color: #e0e0e0;
}

.login-container-image {
    background: url('/content/dam/angularapp/f7361f224fa873f2f0878af28a00fbf1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 50vw;
    height: 100vh;
}

.login-container-form-image {
    display: none;
    width: 306px;
    height: 69px;
    background: url('/content/dam/angularapp/e959f2f20202d40e5f950e778d565743.png');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.login-text-ola {
    font-size: 60px;
    line-height: 76px;
}

.login-text-para-continuar {
    font-size: 16px;
    width: 301px;
}

.login-text-login {
    font-size: 30px;
    line-height: 38px;
    margin-top: 2em;
}

.logo-compasso-login {
    display: flex;
    padding-top: 10%;
}

@media (max-width: 768px) {
    .login-container-form-image {
        display: block;
    }
}

@media (max-width: 768px) {
    .login-container-image {
        display: none;
    }
}

/* Home */

.home-container-header {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 768px) {
        padding-top: 4em;

        img {
            width: 200px;
        }

        div.current-time-container {
            display: none;
        }
    }
}

.home-container-center {
    display: flex;
    justify-content: center;
    padding-top: 8%;
    height: 100vh;

    .home-container-center-logo {
        img {
            position: absolute;
            width: 850px;
            left: -300px;
            bottom: 10px;
        }

        @media screen and (max-width: 768px) {
            img {
                width: 750px;
            }
        }
    }

    .home-container-center-text {
        text-align: end;
        font-family: 'Mark Pro';
        font-style: normal;

        .home-text-our {
            font-weight: 700;
            font-size: 45px;
            color: #c12d18;
        }

        .home-text-nossa {
            font-weight: 400;
            font-size: 24px;
            color: #222222;
        }

        .home-text-to-transform {
            font-weight: 700;
            font-size: 55px;
            line-height: 50px;
            color: #c12d18;
        }

        .home-text-transformar {
            font-weight: 400;
            font-size: 24px;
            color: #222222;
        }

        .home-text-building {
            font-weight: 700;
            font-size: 55px;
            line-height: 50px;
            color: #c12d18;
        }

        .home-text-construindo {
            font-weight: 400;
            font-size: 24px;
            color: #222222;
        }

        .home-text-that {
            font-weight: 700;
            font-size: 55px;
            line-height: 50px;
            color: #c12d18;
        }

        .home-text-que {
            font-weight: 400;
            font-size: 24px;
            color: #222222;
        }
    }

    @media screen and (max-width: 768px) {
        .home-container-center-text {
            display: none;
        }
    }
}

/* Footer */

@media screen and (max-width: 768px) {
    .footer-container {
        .footer {
            &.footer__item--p-essa-janela {
                display: none;
            }

            &.footer-vertical-line-before-search {
                display: none;
            }

            &.footer-vertical-line-after-search {
                display: none;
            }

            &.footer__item--p-application-refresh {
                display: none;
            }

            &.footer__item--app-counter {
                display: none;
            }
        }
    }
}
